@font-face {
    font-family: 'PoppinsMedium';
    src: url(Poppins-Medium.ttf);
}
html {
    overflow-x: hidden;
}
body {
    background-color: rgb(232, 230, 230);
    overflow-x: hidden;
}

.bgheader {
    background-color: rgb(142, 161, 116);
}

.navLinkText {
    color: rgb(85, 53, 64);
    font-family: 'PoppinsMedium';
}

.row {
    width:100%;
}

.textBox {
    padding-right: 2vw;
    padding-left: 2vw;
    padding-top: 1vh;
    color: rgb(26, 94, 90);
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 40px;
    width: 80vw;
    font-family: 'PoppinsMedium';
}

a {
    color: #CEC2ED;
}

#logo {
    width:20rem;
}

a:hover {
    color: #a79bc4;
}

@media (max-width: 600px) {
    .textBox {
        width: 100vw; 
    }

    #logo {
        width: 15rem;
    }
}