.bgheader {
    background-color: rgb(142, 161, 116);
}

.navLinkText {
    color: rgb(85, 53, 64);
}

.info {
    padding-right: 2vw;
    padding-left: 2vw;
    padding-top: 1vh;
    color: rgb(26, 94, 90);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 40px;
    width: 80vw;
}

.infoLeft {
    width: 70%;
}

.infoRight {
    width: 30%;
}

.projects {
    background-color: rgb(26, 94, 90);
    min-height: 60vh;
    width: 40vw;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    text-align: center;
}

@media (max-width: 600px) {
    .stretchHeader{
        width: 100vw !important;
        margin-left: 0%;
        padding-left: 0%;
        border-radius: 0% !important;
    }
}

@media (min-width: 601px) {
    .stretchHeader{
        max-width: 90vw;
    }
}
