@media (max-width: 600px) {
    .stretchHeader{
        width: 100vw !important;
        margin-left: 0%;
        padding-left: 0%;
        border-radius: 0% !important;
    }
}

@media (min-width: 601px) {
    .stretchHeader{
        max-width: 90vw;
    }
}